* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 2.5;
    background-color: #A5ACAF;
}

body {
    flex-direction: column;
    
}

header {
    display: flex
    width 100%;
    background-color: #004C54;
    padding: 20px;
}

.header {
    display: flex;
    background-color: #004C54;
    
}

header h1 {
    display: inline-block;
    color: #A5ACAF;
    font-size: 48px;
    background-color: #004C54;
    
}

#avatar {
    max-width: 200px;
    float: right;
    margin-left: 70px;
}

.nav {
    display: flex;
    position: absolute;
    right: 10px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding-left: 30px;
    font-size: 24px;
}

.main {
    display: flex;
    background-color: #A5ACAF;
    text-align: left;
    padding: 25px;
}

.main h2 {
    padding-right: 50px;
    border-right: black solid;
    margin-right: 10px;
}

.work {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: inline-block;
    text-align: center;
    font-family: fantasy;
    font-size: 24px;
}

.card a:hover {
    opacity: 25%;
}

#main-card {
    display: block;
    object-fit: contain;
    height: 500px;
    width: 760px;
}

.picture {
    object-fit: cover;
    height: 180px;
    width: 250px;
}

.footer {
    display: flex;
    background-color: #004C54;
}

.footer h3 {
    display: inline-block;
    background-color: #004C54;
    padding: 10px;
}

.footer div {
    background-color: #004C54;
}

.list {
    position: absolute;
    right: 0px;
}

.contact-info {
    display: inline;
    font-family: sans-serif;
    float: right;
    margin: 10px;
    border: #004C54 solid;
}

@media screen and (max-width: 900px) {
    .card {
        width: 100%;
        min-width: none;
    }

    #avatar {
        display: none;
    }
}
